.gridCandidate {
	position: absolute;
	z-index: 1;
	font-size: 10px;
    transform: translate(11px,5px);
    color:	#404040;
}

.gridSolved, .gridHinted {
	position:absolute;
	z-index: 2;
	font-size: 24px;
	transform: translate(24px, 12px);
}

.gridSolved {
	font-size: 24px;
}

.gridHinted {
	font-size: 24px;
	font-weight: bold;
}

.gridCandidatesLayer {
	position: relative;
}

.gridCell {
	position: absolute;
    background-color: #EEE8AA;
    border-radius: 20%;
	font-family: 'Roboto', sans-serif;
}

.gridFrame {
	position: relative;
	float: left;
}