/* rule for styling the controller frame */
.controllerFrame {
	float:right;
}

/* rules for styling the controller buttons */
.controllerButton {
	height: 60px;
	width: 60px;
	background-color: transparent;
	box-shadow: 0px 0px 5px 2px rgba(178, 178, 176, 0.75);
	-webkit-box-shadow: 0px 0px 5px 2px rgba(178, 178, 176, 0.75);
	-moz-box-shadow: 0px 0px 5px 2px rgba(178, 178, 176, 0.75);
	border-radius: 20%;
	display: table-cell;
    vertical-align: middle 
}

.controllerButtonSelected {
	background-color: green;
	border-radius: 32px;
}

.controllerButtonSelectedCandidate {
	background-color: orange;
	border-radius: 32px;
}

.controllerButtonEnabled {

}

.controllerButtonDisabled {

}

/* rules for styling the digits in the contoller buttons */
.controllerDigit {
	font-size: 36px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	width: 1ch;
	display: block;
    margin-left: auto;
    margin-right: auto
}

.controllerDigitEnabled {
	color: black;
}

.controllerDigitSelected {
	color: white;
}

.controllerDigitSelectedCandidate {
	color: white;
}

.controllerDigitDisabled {
	color: lightgrey;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* app-specific icon rules */
.controllerIcon {
	font-size: 36px;
	width: 1ch;
	display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
}

.controllerIconEnabled {
	color: black;
}

.controllerIconSelected {
	color: white;
}

.controllerIconSelectedCandidate {
	color: white;
}

.controllerIconDisabled {
	color: lightgrey;
}